<manifest package="com.georgebindragon.base.android"
          xmlns:android="http://schemas.android.com/apk/res/android">



    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--蓝牙-->

    <!--4.x 下, 打开蓝牙Sco需要-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <!--蓝牙 普通权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--蓝牙 控制-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <application
        >
        <receiver android:name="com.georgebindragon.base.receiver.UtilsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
