<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--    需要申请的权限-->
    <!-- 本地文件读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 本地文件写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--蓝牙控制-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- GPS位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 查看运行程序 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>
