<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.georgebindragon.base.app">


    <!--    需要申请的权限-->
    <!-- 本地文件读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 本地文件写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--蓝牙控制-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- GPS位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 查看运行程序 -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:overrideLibrary="com.didichuxing.doraemonkit"
        tools:targetApi="n">

        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--适配全面屏: 长宽比3-->
        <meta-data
            android:name="android.max_aspect"
            android:value="3" />

        <!--适配刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
    </application>
</manifest>
